@{
    ViewData["Title"] = "علاقه‌مندی های شما";
    ViewData["Description"] = "فهرست مطالب برگزیده و علاقه‌مندی‌هایتان را اینجا ببینید.";
}
@section Meta {
    <meta name="description" content="@Html.Raw((string)ViewData["Description"])">
    <link rel="canonical" href="@((string)ViewData["Url"])" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="@((string)ViewData["Url"])">
    <meta property="og:title" content="@Html.Raw((string)ViewData["Title"])">
    <meta property="og:description" content="@Html.Raw((string)ViewData["Description"])">
    <meta property="og:image" content="@((string)ViewData["Image"])">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="@((string)ViewData["Url"])">
    <meta property="twitter:title" content="@Html.Raw((string)ViewData["Title"])">
    <meta property="twitter:description" content="@Html.Raw((string)ViewData["Description"])">
    <meta property="twitter:image" content="@((string)ViewData["Image"])">
}

<div class="container my-5">
    <h1 class="fs-4">@ViewData["Title"]</h1>
    <hr />

    <p class="fw-bold">
        به زودی!
    </p>
    <p>
        در آینده قادر به برگزیدن نوشتار خواهید بود.
        این ویژگی به زودی در نسخه پیش‌نمایش رونمایی می‌شود.
    </p>
</div>