@using Rezaee.Alireza.Web.Extensions
@using Rezaee.Alireza.Web.Helpers
@model Rezaee.Alireza.Web.Models.ViewModels.Blocks.CreateEditViewModel
@{
    ViewData["Title"] = "ایجاد بلاک جدید";
}

@section Head {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/codemirror/5.58.1/lib/codemirror.css" />
        <link rel="stylesheet" href="~/lib/codemirror/5.58.1/addon/hint/show-hint.css" />

        <script src="~/lib/codemirror/5.58.1/lib/codemirror.js"></script>
        <script src="~/lib/codemirror/5.58.1/mode/xml/xml.js"></script>
        <script src="~/lib/codemirror/5.58.1/mode/javascript/javascript.js"></script>
        <script src="~/lib/codemirror/5.58.1/mode/css/css.js"></script>
        <script src="~/lib/codemirror/5.58.1/mode/htmlmixed/htmlmixed.js"></script>
        <script src="~/lib/codemirror/5.58.1/addon/selection/active-line.js"></script>
        <script src="~/lib/codemirror/5.58.1/addon/edit/matchbrackets.js"></script>
        <script src="~/lib/codemirror/5.58.1/addon/hint/show-hint.js"></script>
        <script src="~/lib/codemirror/5.58.1/addon/hint/css-hint.js"></script>
        <script src="~/lib/tinymce/5.5.1/tinymce.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://unpkg.com/codemirror@5.58.1/lib/codemirror.css"
              asp-fallback-href="~/lib/codemirror/5.58.1/lib/codemirror.css"
              asp-fallback-test-class="CodeMirror-gutters"
              asp-fallback-test-property="white-space"
              asp-fallback-test-value="nowrap"
              integrity="sha384-KsbK45E17r4hdzdJB8hf/poBTYi0oDktKdCAyP67Uc9lE9Amf83NF+Vf6VJZ6mRK"
              crossorigin="anonymous" />

        <link rel="stylesheet" href="https://unpkg.com/codemirror@5.58.1/addon/hint/show-hint.css"
              asp-fallback-href="~/lib/codemirror/5.58.1/addon/hint/show-hint.css"
              asp-fallback-test-class="CodeMirror-hints"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              integrity="sha384-ZZbLvEvLoXKrHo3Tkh7W8amMgoHFkDzWe8IAm1ZgxsG5y35H+fJCVMWwr0YBAEGA"
              crossorigin="anonymous" />


        <script src="https://unpkg.com/codemirror@5.58.1/lib/codemirror.js"
                asp-fallback-src="~/lib/codemirror/5.58.1/lib/codemirror.js"
                asp-fallback-test="window.CodeMirror"
                integrity="sha384-aGuzFsP0u0uDxhngInusVxeFBTEt4gYWOA723Y2wOFrw7VVGxRUfx7R7ySH5ICxc"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.58.1/mode/xml/xml.js"
                asp-fallback-src="~/lib/codemirror/5.58.1/mode/xml/xml.js"
                asp-fallback-test="CodeMirror.modes.xml"
                integrity="sha384-z8O1dAcb8dxGYbhmbzbJ41xAUlle9jfZpok46e8s9+Tyu9bKxx742hiNqVJ0D6cL"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.58.1/mode/javascript/javascript.js"
                asp-fallback-src="~/lib/codemirror/5.58.1/mode/javascript/javascript.js"
                asp-fallback-test="CodeMirror.modes.javascript"
                integrity="sha384-9BowMxIRNf7gbVLczrUIg0cGcovpADtOdn45yCZ5e9NCfSgePO6DvEzw0Yx0G8yt"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.58.1/mode/css/css.js"
                asp-fallback-src="~/lib/codemirror/5.58.1/mode/css/css.js"
                asp-fallback-test="CodeMirror.modes.css"
                integrity="sha384-KQnueJAsHUDvm95nlrdIDwvnB3ziHU858LJB2fsrs/r1/gDX84NAVyUIJ7MSyABv"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.58.1/mode/htmlmixed/htmlmixed.js"
                asp-fallback-src="~/lib/codemirror/5.58.1/mode/htmlmixed/htmlmixed.js"
                asp-fallback-test="CodeMirror.modes.htmlmixed"
                integrity="sha384-fxS517EbIB2hObIbibF9AuQAFnAlwZgIsy2zpeCqpw4yIkJRfNOLSe0JHu7H7ULE"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.58.1/addon/selection/active-line.js"
                asp-fallback-src="~/lib/codemirror/5.58.1/addon/selection/active-line.js"
                asp-fallback-test="CodeMirror.optionHandlers.styleActiveLine"
                integrity="sha384-kKz13r+qZMgTNgXROGNHQ0/0/J1FtvIvRZ9yjOHo1YLUCd+KF8r9R+su/B+f6C0U"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.58.1/addon/edit/matchbrackets.js"
                asp-fallback-src="~/lib/codemirror/5.58.1/addon/edit/matchbrackets.js"
                asp-fallback-test="CodeMirror.optionHandlers.matchBrackets"
                integrity="sha384-LTQ5mBHbnlfpno+sRl/fdtC5GxS6BvQqFK6pC05GlBXD8urGx86eJXEW8rRGGe43"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.58.1/addon/hint/show-hint.js"
                asp-fallback-src="~/lib/codemirror/5.58.1/addon/hint/show-hint.js"
                asp-fallback-test="CodeMirror.showHint"
                integrity="sha384-VIjTLfyf8TDATLORaNeFgbAzeAy9ZbmWEkjdQhJc5JyrdrnBbiTrixhYCizHe7vL"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/codemirror@5.58.1/addon/hint/css-hint.js"
                asp-fallback-src="~/lib/codemirror/5.58.1/addon/hint/css-hint.js"
                asp-fallback-test="CodeMirror.hint.css"
                integrity="sha384-fS3CqTzf3CyenpkFzLDjDJ0KrxEnK9rrmaG3gjmLNJ7Q4cG8u4JDzeldOXEA8SbC"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/tinymce@5.5.1/tinymce.min.js"
                asp-fallback-src="~/lib/tinymce/5.5.1/tinymce.min.js"
                asp-fallback-test="window.tinymce"
                integrity="sha384-zuETV1iPOoJdf/Z465ljv1XO9ejeYE6/PsfGd2lhoIq5xEyq4V2SwxHlSBiHJfuh"
                crossorigin="anonymous"></script>
    </environment>
    <script src="~/lib/tinymce-lang/langs/fa.js"></script>

    <script>
        tinymce.init({
            selector: 'textarea.js-html',
            directionality: 'rtl',
            language: 'fa',
            plugins: "code image searchreplace wordcount link",

            content_style: "body {font-family: IRANSans;}",

            rel_list: [
                { title: 'No Referrer', value: 'noreferrer' },
                { title: 'External Link', value: 'external' }
            ],

            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        });
    </script>
}

<div class="container">
    <div class="my-5">
        <div class="card card-body" id="block-new">
            <form asp-controller="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController).ControllerName()" asp-action="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController.Edit)">
                <ul class="nav nav-tabs" id="newBlockTab">
                    <li class="nav-item">
                        <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#js-block-content">بدنه</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#js-block-styles">استایل</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#js-block-scripts">اسکریپت</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="js-block-content">
                        <textarea asp-for="Html" class="js-html"></textarea>
                        <div class="row my-3">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="inputState">محل جایگیری:</label>
                                <select asp-for="PositionNo" class="form-control">
                                    <option value="0" selected="@(Model.PositionNo == 0)">بالای مطالب</option>
                                    <option value="1" selected="@(Model.PositionNo == 1)">بین مطالب و پیوند ها</option>
                                    <option value="2" selected="@(Model.PositionNo == 2)">پایین پیوند ها</option>
                                </select>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label for="inputPassword4">ترتیب جایگیری:</label>
                                <input asp-for="Rank" min="1" max="255" class="form-control" id="block-new-rank" placeholder="شماره جایگاه" name="Rank">
                            </div>
                        </div>
                        <div class="form-check my-3">
                            <input asp-for="IsEnable" class="form-check-input" checked="checked">
                            <label asp-for="IsEnable" class="form-check-label">آیا برای عموم نمایش داده شود؟</label>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="js-block-styles">
                        <label asp-for="Styles" class="p-1">استایل ها:</label>
                        <span class="small text-secondary">در انتهای &#60;head&#62; سند افزوده می شود.</span>
                        <div class="dir-ltr text-left">
                            <textarea asp-for="Styles" class="js-styles"></textarea>
                        </div>
                        <span class="small font-weight-light text-danger">
                            در قسمت استایل ها یا اسکریپت ها، حتماً آنها را همراه با تگ تعریف کنید. مانند:
                            <code class="d-inline-block dir-ltr">&#60;style&#62;.selector { color: red; }&#60;&#8725;style&#62;</code>
                            یا
                            <code class="d-inline-block dir-ltr">&#60;link rel="stylesheet" href="..." &#8725;&#62;</code>
                        </span>
                    </div>
                    <div class="tab-pane fade" id="js-block-scripts">
                        <label for="block-scripts-textarea" class="p-1">اسکریپت ها:</label>
                        <span class="small text-secondary">در انتهای &#60;body&#62; سند افزوده می شود.</span>
                        <div class="text-left dir-ltr">
                            <textarea asp-for="Scripts" class="js-scripts"></textarea>
                        </div>
                        <span class="small font-weight-light text-danger">
                            در قسمت استایل ها یا اسکریپت ها، حتماً آنها را همراه با تگ تعریف کنید. مانند:
                            <code class="d-inline-block dir-ltr">&#60;script&#62;alert("Hello World!");&#60;&#8725;script&#62;</code>
                            یا
                            <code class="d-inline-block dir-ltr">&#60;script src="..."&#62;&#60;&#8725;script&#62;</code>
                        </span>
                    </div>
                </div>

                <div class="text-left">
                    <input type="hidden" value="/" name="returnUrl" />
                    @if (!User.IsInRole(Roles.BlockDelete))
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete-block">
                            حذف بلاک
                        </button>
                    }
                    <button type="submit" class="btn btn-success" @if (!User.IsInRole(Roles.BlockEdit)) { <text> disabled title="مجوز ویرایش بلاک ندارید" </text> }>
                        ویرایش و ذخیره
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (!User.IsInRole(Roles.BlockDelete))
{
    <!-- Modal -->
    <div class="modal fade" id="modal-delete-block" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-controller="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController).ControllerName()" asp-action="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController.Delete)" asp-route-id="@Model.Id">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            هشدار حذف بلاک
                        </h5>
                        <button type="button" class="btn-close mr-auto ml-0" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        هشدار: پس از تایید،
                        این بلاک
                        <span class="text-danger">حذف</span>
                        میشود و آنگاه قابل بازگشت نخواهد بود.
                        آیا از این اقدام اطمینان دارید؟

                        <div class="text-left mt-4">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">انصراف</button>
                            <button type="submit" class="btn btn-danger">تایید</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        var mixedMode = {
            name: "htmlmixed",
            scriptTypes: [{
                matches: /\/x-handlebars-template|\/x-mustache/i,
                mode: null
            }, {
                matches: /(text|application)\/(x-)?vb(a|script)/i,
                mode: "vbscript"
            }]
        };

        var cm1, cm2;
        $(document).ready(function () {
            $('#newBlockTab button').on('shown.bs.tab', function () {
                cm1.refresh();
                cm2.refresh();
            });
            cm1 = CodeMirror.fromTextArea(document.querySelector("textarea.js-styles"), {
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                mode: mixedMode,
                extraKeys: { "Ctrl-Space": "autocomplete" }
            });
            cm2 = CodeMirror.fromTextArea(document.querySelector("textarea.js-scripts"), {
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                mode: mixedMode,
                extraKeys: { "Ctrl-Space": "autocomplete" }
            });

            cm1.getDoc().setValue(document.querySelector('textarea.js-styles').value);
            cm2.getDoc().setValue(document.querySelector('textarea.js-scripts').value);
        });

        var elemNewBlock = document.querySelector('#block-new form');
        elemNewBlock.addEventListener('submit', function (e) {
            e.preventDefault();
            var elemHtml = document.querySelector('textarea.js-html');
            elemHtml.value = window.parent.tinyMCE.get(elemHtml.id).getContent();
            document.querySelector('textarea.js-styles').value = cm1.getValue();
            document.querySelector('textarea.js-scripts').value = cm2.getValue();
            elemNewBlock.submit();
        });
    </script>
}