<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Raw((string)ViewData["Title"])</title>
    <meta name="title" content="@Html.Raw((string)ViewData["Title"])">
    @RenderSection("Meta", required: false)
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/5.0.0-beta1/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://unpkg.com/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/5.0.0-beta1/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    @RenderSection("Head", required: false)
    <style>
    </style>
</head>
<body>
    <div class="wrapper position-relative mnh-100vh">
        @await Component.InvokeAsync("HeaderFooter", new { page = "HeadCover" })
        <div></div>
        @RenderBody()
        <div></div>
        @await Component.InvokeAsync("HeaderFooter", new { page = "FootCover" })
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/3.5.1/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/5.0.0-beta1/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/timeago/1.6.7/jquery.timeago.js"></script>
        <script src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://unpkg.com/jquery@3.5.1/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/3.5.1/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="bootstrap"
                integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/timeago@1.6.7/jquery.timeago.js"
                asp-fallback-src="~/lib/timeago/1.6.7/jquery.timeago.js"
                asp-fallback-test="window.jQuery & jQuery.timeago"
                integrity="sha384-GsksDHaN27nM9MG1NsV9IPECsWOIts+Wpq92hznPS4KNEQeyOa5ChwoOJSfCbG+2" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/timeago@1.6.7/locales/jquery.timeago.fa.js"
                asp-fallback-src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.js"
                asp-fallback-test="jQuery.timeago"
                integrity="sha384-KoRLLuB9R0fWSnmmIjid3KBcgtNESylDiSD14GIgfTEmkMvswToDuuHpFGu19aCr" crossorigin="anonymous"></script>
        <script src="~/js/site.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>