@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "تنظیم نرم افزار احراز هویت";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<hr />
<div>
    <p>برای استفاده از نرم افزار احراز هویت مطابق مراحل زیر پیش روید:</p>
    <ol class="list">
        <li>
            <p>
                نرم افزار احراز هویت خود را آماده کنید. در صورت نیاز می توانید
                Microsoft Authenticator
                را برای
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">اندروید</a>،
                <a href="https://go.microsoft.com/fwlink/?Linkid=825071">ویندوز موبایل</a>
                و
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> یا
                Google Authenticator
                را برای
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">اندروید</a> و
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>
                دریافت کنید.
            </p>
        </li>
        <li>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p>
                        QR Code را با نرم افزار اسکن یا کد زیر را وارد کنید.
                        <kbd class="text-nowrap">@Model.SharedKey</kbd>
                        (فاصله ها اهمیت ندارند)
                    </p>
                    <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
                </div>
                <div class="col-12 col-md-6">
                    <div id="qrCode"></div>
                </div>
            </div>
        </li>
        <li class="mt-3">
            <p>
                بلافاصله پس از اسکن کد یا وارد کردن کد بالا، نرم افزار احراز هویت به شما کدی یکتا میدهد. آن کد را در قسمت زیر وارد کنید.
            </p>
            <form id="send-code" method="post">
                <div class="row">
                    <div class="col-md col-md-6">
                        <div class="mb-3">
                            <label asp-for="Input.Code" class="control-label">
                                کد فعال سازی
                            </label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success rounded-oval">تایید</button>
                </div>
            </form>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <environment include="Development">
        <script src="~/lib/qrcodejs/1.0.0/qrcode.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://unpkg.com/qrcodejs@1.0.0/qrcode.min.js"
                asp-fallback-src="~/lib/qrcodejs/1.0.0/qrcode.min.js"
                asp-fallback-test="QRCode"
                integrity="sha384-3zSEDfvllQohrq0PHL1fOXJuC/jSOO34H46t6UQfobFOmxE5BpjjaIJY5F2/bMnU"
                crossorigin="anonymous"></script>
    </environment>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>

}
