@using System.Web
@using Rezaee.Alireza.Web.Extensions
@using Rezaee.Alireza.Web.Helpers
@inject Microsoft.AspNetCore.Identity.UserManager<Rezaee.Alireza.Web.Areas.Identity.Data.ApplicationUser> UserManager
@model Rezaee.Alireza.Web.Models.ViewModels.Home.IndexViewModel
@{
    var Posterpins = Model.Posts.Where(post => post.Posterpins != null).ToList();
}
@section Head {
    <style>
        .pin-button {
            z-index: 5;
            top: 15px;
            right: 15px;
        }

        .block {
            padding: 0.25rem;
            border-radius: 1rem;
        }
    </style>

    @foreach (var block in Model.Blocks)
    {
        @Html.Raw(block.Styles)
    }
}

<div class="mt-5"></div>

@if (User.IsInRole(Roles.BlockCreate))
{
    <div class="container text-right">
        <a asp-controller="Blocks" asp-action="Create" class="btn btn-light border">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
            </svg>
            افزودن بلاک جدید
        </a>
    </div>
}

@if (Model.Blocks.Any(block => block.Position == BlockPosition.First_BetweenHomeAndPosts))
{
    <div class="container">
        @foreach (var block in Model.Blocks.Where(block => block.Position == BlockPosition.First_BetweenHomeAndPosts).OrderBy(block => block.Rank).ThenBy(block => block.Id))
        {
            <div class="block @if (!block.IsEnable) { <text>disabled</text> } my-2">
                @if (User.IsInRole(Roles.BlockDelete) || User.IsInRole(Roles.BlockEdit))
                {
                    <div>
                        <a asp-controller="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController).ControllerName()"
                           asp-action="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController.Edit)"
                           asp-route-id="@block.Id"
                           class="btn btn-light border rounded-0">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z" />
                                <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z" />
                                <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z" />
                            </svg>
                            ویرایش | حذف
                        </a>
                    </div>
                }
                @Html.Raw(block.Html)
            </div>
        }
    </div>
}


<!-- begin: مطالب سایت -->
@if (Posterpins.Any())
{
    <div class="container-fluid my-5" style="max-width: 1140px;">
        @foreach (var posterpin in Posterpins)
        {
            <div class="border position-relative d-flex my-3" style="background: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0.7)), url('@posterpin.ThumbnailUrl') no-repeat; background-size: cover; background-position: center; min-height: 40vh;">

                <div class="p-2 p-sm-3 p-md-5 w-100 align-self-end">
                    <h1 class="display-4 text-white" style="font-size: 2rem;">@posterpin.Title</h1>
                    <div class="text-left">
                        <a asp-action="Index" asp-controller="Bookmarks" class="position-relative btn btn-light border rounded-oval" style="z-index: 5;">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.5 2a.5.5 0 0 0-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 0 1 1 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 0 1 4.5 1h4a.5.5 0 0 1 0 1h-4zm9-1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
                            </svg>
                        </a>
                        <a href="@posterpin.PostUrl" class="btn btn-light stretched-link rounded-oval" role="button">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z" />
                                <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z" />
                            </svg>
                            بخوانید
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}


<div class="container my-5">
    @if (Model.Posts.Any())
    {
        <div class="row masonry">
            @foreach (var post in Model.Posts)
            {
                if (post.PublishDateTime.Date <= DateTime.Now || (
                    User.IsInRole(Roles.PostCreateArticle) || User.IsInRole(Roles.PostEditArticle) || User.IsInRole(Roles.PostDeleteArticle) ||
                    User.IsInRole(Roles.PostCreateShare) || User.IsInRole(Roles.PostEditShare) || User.IsInRole(Roles.PostDeleteShare) ||
                    User.IsInRole(Roles.PostCreateMarkdown) || User.IsInRole(Roles.PostEditMarkdown) || User.IsInRole(Roles.PostDeleteMarkdown)))
                {
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="post card shadow-sm" @if (post.PublishDateTime.Date > DateTime.Now) { <text> style="border: 2px dotted #08f !important;" </text> } data-post-id="@post.Id">

                            @if (post.PublishDateTime.Date > DateTime.Now)
                            {
                                <button class="btn d-inline-block position-absolute p-0 post-help-schedule"
                                        style="top: 0; left: 0; border-top: 50px solid #08f; border-right: 50px solid transparent; z-index: 99; box-shadow: none;"
                                        data-toggle="tooltip"
                                        title="این مطلب «ارسال به آینده» است و هنور در دسترس عمومی قرار ندارد.">
                                </button>
                            }
                            <div class="post-summary">
                                <img src="@post.ThumbnailUrl" class="card-img-top rounded-top" alt="@post.Title">
                                <div class="card-body">
                                    <h2 class="card-title">@Html.Raw(post.Title)</h2>
                                    <p class="card-text">@Html.Raw(post.Summary)</p>
                                    <div class="text-left">
                                        <div class="pin-button position-absolute">
                                            @if (User.IsInRole(Roles.Pin))
                                            {
                                                <button class="position-relative btn shadow border rounded-oval js-pin-post @if (post.Pin != null) {<text>pinned btn-light</text>} else {<text>btn-outline-light</text>}">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M11 4a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                                        <path d="M7.5 4h1v9a.5.5 0 0 1-1 0V4z" />
                                                        <path fill-rule="evenodd" d="M6.489 12.095a.5.5 0 0 1-.383.594c-.565.123-1.003.292-1.286.472-.302.192-.32.321-.32.339 0 .013.005.085.146.21.14.124.372.26.701.382.655.246 1.593.408 2.653.408s1.998-.162 2.653-.408c.329-.123.56-.258.701-.382.14-.125.146-.197.146-.21 0-.018-.018-.147-.32-.339-.283-.18-.721-.35-1.286-.472a.5.5 0 1 1 .212-.977c.63.137 1.193.34 1.61.606.4.253.784.645.784 1.182 0 .402-.219.724-.483.958-.264.235-.618.423-1.013.57-.793.298-1.855.472-3.004.472s-2.21-.174-3.004-.471c-.395-.148-.749-.336-1.013-.571-.264-.234-.483-.556-.483-.958 0-.537.384-.929.783-1.182.418-.266.98-.47 1.611-.606a.5.5 0 0 1 .595.383z" />
                                                    </svg>
                                                </button>
                                            }
                                            @if (User.IsInRole(Roles.PosterPin))
                                            {
                                                <button class="position-relative btn shadow border rounded-oval js-poster-pin-post @if (post.Posterpins != null) {<text>pinned btn-light</text>} else {<text>btn-outline-light</text>}">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-aspect-ratio" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5v-9zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
                                                        <path fill-rule="evenodd" d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0v-3zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0v3z" />
                                                    </svg>
                                                </button>
                                            }
                                        </div>
                                        <a asp-action="Index" asp-controller="Bookmarks" class="position-relative btn btn-light border rounded-oval" style="z-index: 5;">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M4.5 2a.5.5 0 0 0-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 0 1 1 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 0 1 4.5 1h4a.5.5 0 0 1 0 1h-4zm9-1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z" />
                                                <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
                                            </svg>
                                        </a>
                                        <a href="@post.PostUrl" class="stretched-link btn btn-light border rounded-oval">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z" />
                                                <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z" />
                                            </svg>
                                            بخوانید
                                        </a>
                                    </div>
                                </div>
                            </div>
                            @if (post.RelatedPosts.Any())
                            {
                                <div class="js-related-posts">
                                    @foreach (var relatedPost in post.RelatedPosts)
                                    {
                                        <div class="card-footer">
                                            <a href="@relatedPost.PostUrl" class="stretched-link text-decoration-none"><small class="text-muted small">@relatedPost.Title</small></a>
                                        </div>
                                    }
                                </div>
                                @if (post.RelatedPosts.Count == 2)
                                {
                                    <div class="card-footer text-center more-related-posts">
                                        <button type="button" class="btn stretched-link js-more-related-posts" data-post-id="@post.Id">
                                            <svg class="bi bi-three-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                            </svg>
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            }
        </div>
    }

    <div class="text-center">
        <a asp-controller="posts" asp-action="index" class="btn btn-light border shadow p-3" style="border-radius: 2rem;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z" />
                <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z" />
            </svg>
            مشاهده همه مطالب
        </a>
    </div>

</div>
<!-- end: پایان مطالب سایت -->

@if (Model.Blocks.Any(block => block.Position == BlockPosition.Second_betweenPostsAndLinks))
{
    <div class="container">
        @foreach (var block in Model.Blocks.Where(block => block.Position == BlockPosition.Second_betweenPostsAndLinks).OrderBy(block => block.Rank).ThenBy(block => block.Id))
        {
            <div class="block @if (!block.IsEnable) { <text>disabled</text> } my-2">
                @if (User.IsInRole(Roles.BlockDelete) || User.IsInRole(Roles.BlockEdit))
                {
                    <div>
                        <a asp-controller="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController).ControllerName()"
                           asp-action="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController.Edit)"
                           asp-route-id="@block.Id"
                           class="btn btn-light border rounded-0">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z" />
                                <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z" />
                                <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z" />
                            </svg>
                            ویرایش | حذف
                        </a>
                    </div>
                }
                @Html.Raw(block.Html)
            </div>
        }
    </div>
}

<!-- begin: پیوند های سایت -->
<div class="container my-5">
    <div class="row">
        <div class="col mb-3">
            <div class="d-inline-block py-1 px-3 section">
                <div class="d-inline-block align-middle section-bg">
                </div>
                پیوند ها
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11">

            <div class="row links rounded justify-content-center">
                @foreach (var link in Model.Links)
                {
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="my-2 position-relative">
                            <div class="bg-danger rounded-top links-cover" style="background-image: url(@link.ImagePath);">
                            </div>
                            <div class="d-flex links-content links-item">
                                <a href="@link.Url" target="_blank" rel="noreferrer noopener" class="links-site-link links-link p-2 rounded-0" style="z-index: 2;">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"></path>
                                        <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"></path>
                                    </svg>
                                </a>
                                <a href="@link.Url" class="links-link d-block p-2 w-100 stretched-link overflow-hidden">
                                    <i class="caption">@link.Title</i>
                                </a>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-12 text-center mt-3">
                    <a asp-controller="links" asp-action="index" class="btn btn-light border shadow p-3" style="border-radius: 2rem;">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z"></path>
                            <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"></path>
                        </svg>
                        مشاهده دیگر پیوند ها
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: پیوند های سایت -->

@if (Model.Blocks.Any(block => block.Position == BlockPosition.Third_BetweenLinksAndFooter))
{
    <div class="container">
        @foreach (var block in Model.Blocks.Where(block => block.Position == BlockPosition.Third_BetweenLinksAndFooter).OrderBy(block => block.Rank).ThenBy(block => block.Id))
        {
            <div class="block @if (!block.IsEnable) { <text>disabled</text> } my-2">
                @if (User.IsInRole(Roles.BlockDelete) || User.IsInRole(Roles.BlockEdit))
                {
                    <div>
                        <a asp-controller="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController).ControllerName()"
                           asp-action="@nameof(Rezaee.Alireza.Web.Controllers.BlocksController.Edit)"
                           asp-route-id="@block.Id"
                           class="btn btn-light border rounded-0">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z" />
                                <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z" />
                                <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z" />
                            </svg>
                            ویرایش | حذف
                        </a>
                    </div>
                }
                @Html.Raw(block.Html)
            </div>
        }
    </div>
}

@section Scripts {
    <environment include="Development">
        <script src="/lib/masonry-layout/4.2.2/dist/masonry.pkgd.js"></script>
        <script src="/lib/imagesloaded/4.1.4/imagesloaded.pkgd.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
                asp-fallback-src="/lib/masonry-layout/4.2.2/dist/masonry.pkgd.min.js"
                asp-fallback-test="Masonry"
                integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js"
                asp-fallback-src="/lib/imagesloaded/4.1.4/imagesloaded.pkgd.min.js"
                asp-fallback-test="imagesLoaded"
                integrity="sha384-YnGSHPPWEUDKMHFPOVmNP7Xyfwx5G0CHet6IoNgiX6CbFZS8gCeIfEgB1MgPwjdI" crossorigin="anonymous"></script>
    </environment>
    <script>
        $('.js-more-related-posts').click(function (e) {
            var buttonContainer = $(e.target).parent('.more-related-posts');
            $.ajax({
                url: "/posts/" + $(e.target).parents('.post').data("post-id") + "/related-posts.json?count=5",
                dataType: "json",
                type: "GET",
                success: function (posts) {
                    var relatedPosts = '';
                    for (var post in posts)
                        relatedPosts += '<div class="card-footer"><a href="' + posts[post].postUrl + '" class="stretched-link text-decoration-none"><small class="text-muted small">' + posts[post].title + '</small></a></div>';;
                    $(e.target).parents('.post').find('.js-related-posts').html(relatedPosts);

                    var elemLoadMoreRelatedPosts = document.createElement('a');
                    elemLoadMoreRelatedPosts.classList.add('btn', 'stretched-link', 'js-more-related-posts');
                    $(elemLoadMoreRelatedPosts).attr('href', '/posts/' + buttonContainer.find('.js-more-related-posts').data('post-id') + '/related-posts').css('font-size', 'small').html('<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.5 3A1.5 1.5 0 0 0 13 1.5H3A1.5 1.5 0 0 0 1.5 3v5a.5.5 0 0 0 1 0V3a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H9a.5.5 0 0 0 0 1h4a1.5 1.5 0 0 0 1.5-1.5V3z"/><path fill-rule="evenodd" d="M4.5 6a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6.5H5a.5.5 0 0 1-.5-.5z"/><path fill-rule="evenodd" d="M10.354 5.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/></svg> مطالب بیشتر').appendTo(buttonContainer.text(''));
                }
            });
        });

        $(document).ready(function () {
            jQuery("time.timeago").timeago();
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    @if (User.IsInRole(Roles.Pin) || User.IsInRole(Roles.PosterPin))
    {
        <script>
            $('.js-pin-post, .js-poster-pin-post').click(function (e) {
                var target = $(e.target);
                var button = target.is('button') ? target : target.parents('button');
                var wasPinned = button.hasClass('pinned');

                $.ajax({
                    url: (button.hasClass('js-poster-pin-post') ? '/posters/' : '/pins/') + (wasPinned ? 'un-pin' : 'pin') + "/" + button.parents('.post').data('post-id'),
                    dataType: "text",
                    type: "GET",
                    success: function (content) {
                        if (wasPinned) button.removeClass('btn-light pinned').addClass('btn-outline-light');
                        else button.removeClass('btn-outline-light').addClass('btn-light pinned');
                    }
                });
            });
        </script>
    }

    <script>
        //See docs: https://masonry.desandro.com/layout.html#imagesloaded
        var grid = document.querySelector('.masonry');
        var msnry;

        imagesLoaded(grid, function () {
            // init Isotope after all images have loaded
            msnry = new Masonry(grid, {
                // options
                percentPosition: true,
                originLeft: false
            });
        });
    </script>

    @foreach (var block in Model.Blocks)
    {
        @Html.Raw(block.Scripts)
    }
}
