@using System.Web;
@model AlirezaRezaee.Web.Models.ViewModels.Home.IndexViewModel
@section Head {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css" />
        <link rel="stylesheet" href="~/lib/lightgallery/1.6.12/css/lightgallery.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/5.11.2/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
              asp-fallback-href="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
              asp-fallback-test-class="mCustomScrollBox"
              asp-fallback-test-property="position"
              asp-fallback-test-value="relative"
              asp-suppress-fallback-integrity="true"
              integrity="sha256-JHGEmB629pipTkMag9aMaw32I8zle24p3FpsEeI6oZU=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css"
              asp-fallback-href="~/lib/lightgallery/1.6.12/css/lightgallery.min.css"
              asp-fallback-test-class="lg-icon"
              asp-fallback-test-property="font-family"
              asp-fallback-test-value="lg"
              asp-suppress-fallback-integrity="true"
              integrity="sha256-8rfHbJr+ju3Oc099jFJMR1xAPu8CTPHU8uP5J3X/VAY=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
              asp-fallback-href="~/lib/fontawesome/5.11.2/css/all.min.css"
              asp-fallback-test-class="fa"
              asp-fallback-test-property="font-weight"
              asp-fallback-test-value="900"
              asp-suppress-fallback-integrity="true"
              integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    </environment>
}
<div class="container my-3">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="row justify-content-center">
                <div class="col-2 text-center tazhib"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-11 d-block d-sm-flex mx-auto px-0 text-center border rounded py-4">
            @Html.Raw(HttpUtility.HtmlDecode(Model.QuranAyah))
        </div>
    </div>
</div>


<div class="container mt-3 notes">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">درباره نویسنده</h6>
                <div class="media text-muted pt-3">
                    <img src="/uploads/profile/avatar-32x.jpg" alt="" width="32" height="32"
                         class="ml-2 rounded-circle">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.AboutAuthorSummary))
                    </p>
                </div>
                <div class="text-left mt-3">
                    <a asp-action="about" class="small">اطلاعات بیشتر</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">مطالب پیشنهادی</h6>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <span class="d-block text-gray-dark">
                            <strong>
                                آموزش دریافت و نصب پیشرفته ویژوال
                                استدیو
                            </strong>
                        </span> در این مقاله به نصب محبوب ترین IDE توسعه نرم افزاری خواهیم پرداخت.
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <span class="d-block text-gray-dark"><strong>کار مردم نیست؛ کار اشرار است</strong></span> بیانات رهبر انقلاب درباره مسائل پیش‌آمده پس از اجرای طرح مدیریت مصرف سوخت
                    </p>
                </div>
                <div class="text-left mt-3">
                    <a href="#" class="small">فهرست آخرین مطالب پیشنهادی</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-2">
            <div class="row">
                <div class="col-6">
                    <button class="d-block bg-glin-blue text-white small rounded border-0 w-100 p-2" data-toggle="modal" data-target="#model-contact">
                        ارسال پیام مستقیم
                    </button>
                </div>
                <div class="col-6">
                    <button class="d-block bg-glin-magenta text-white small rounded border-0 w-100 p-2" data-toggle="modal" data-target="#model-order-request">
                        ثبت سفارش
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="model-contact" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            ارتباط مستقیم
                        </h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="model-contact-email">رایانامه <small>(پست الکترونیکی)</small></label>
                            <input type="email" class="form-control" id="model-contact-email">
                            <small class="form-text text-muted">
                                در صورتی که نیاز به پاسخ دارید رایانامه
                                خود را وارد کنید.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="model-contact-content">متن پیام</label>
                            <textarea class="form-control" id="model-contact-content" rows="3"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <div class="g-recaptcha d-inline-block" data-sitekey="6Le4keMUAAAAAEUadm6KKSDjYtH40WL1d3kj8gRo" data-size="compact"></div>
                            <input type="hidden" class="form-control" id="model-contact-email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">انصراف</button>
                        <button type="submit" class="btn btn-primary">ارسال پیام</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="model-order-request" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            ثبت سفارش جدید
                        </h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <small class="form-text text-muted mb-2">
                            پیش از تکمیل فرم رزومه علیرضا رضائی را مطالعه کنید.
                        </small>
                        <hr>
                        <div class="form-group">
                            <label for="model-contact-email">نام و نام خانوادگی</label>
                            <input type="email" class="form-control" id="model-contact-email">
                        </div>
                        <div class="form-group">
                            <label for="model-contact-email">شماره تماس</label>
                            <input type="email" class="form-control" id="model-contact-email">
                            <small class="form-text text-muted">
                                برای برقراری ارتباط با شما مورد استفاده قرار می
                                گیرد.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="model-contact-email">رایانامه <small>(پست الکترونیکی)</small></label>
                            <input type="email" class="form-control" id="model-contact-email">
                        </div>
                        <div class="form-group">
                            <label for="model-contact-content">شرح سفارش</label>
                            <textarea class="form-control" id="model-contact-content" rows="3"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <div class="g-recaptcha d-inline-block" data-sitekey="6Le4keMUAAAAAEUadm6KKSDjYtH40WL1d3kj8gRo" data-size="compact"></div>
                            <input type="hidden" class="form-control" id="model-contact-email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">انصراف</button>
                        <button type="submit" class="btn btn-primary">ثبت سفارش</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- begin: مطالب سایت -->
<div class="container my-5">
    <div class="row mb-2">
        @foreach (var post in Model.Posts)
        {
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-12 post">
                        <div class="row">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">@post.Category</strong>
                                <h3 class="mb-0">@post.Title</h3>
                                <div class="mb-1 text-muted">۲۷ آبان</div>
                                <p class="card-text mb-auto">@post.Summmary</p>
                                <div class="text-left">
                                    <a href="@post.PostUrl" class="stretched-link">
                                        در ادامه بخوانید
                                        <i class="fas fa-angle-double-left"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-auto post-image" style="background-image: url(@post.ThumbnailUrl);">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <ul class="row m-0 p-0">
                            <li class="col-12 border-top small bg-light-gray">
                                <a href="#" class="d-block text-truncate bg-light-gray text-secondary p-2">
                                    رهبر انقلاب: کشور را به سمت جنگ نمی‌بریم اما در مقابل تحمیل با قدرت می‌ایستیم
                                </a>
                            </li>
                            <li class="col-12 border-top small bg-light-gray">
                                <a href="#" class="d-block text-truncate bg-light-gray text-secondary p-2">
                                    اغلب مطالبات مردم حق، ولی فتنه سازی کار دشمن بود
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="text-center">
        <a href="javascript:void(0)" class="btn btn-primary shadow rounded-oval">
            <i class="fas fa-stream fa-flip-horizontal"></i> ادامه مطالب
        </a>
    </div>

</div>
<!-- end: پایان مطالب سایت -->


<!-- begin: پیوند های سایت -->
<div class="container my-5">
    <div class="row">
        <div class="col mb-3">
            <div class="d-inline-block py-1 px-3 section">
                <div class="d-inline-block align-middle section-bg">
                </div>
                پیوند ها
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11">

            <div class="row links rounded justify-content-center">
                @foreach (var link in Model.IllustratedLinks)
                {
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="my-2 position-relative">
                            <div class="bg-danger rounded-top links-cover" style="background-image: url(@link.ImagePath);">
                            </div>
                            <div class="d-flex links-content links-item">
                                <a href="@link.Url" target="_blank" rel="noreferrer noopener" class="links-site-link links-link p-2 rounded-0" style="z-index: 2;">
                                    <i class="material-icons align-middle">language</i>
                                </a>
                                <a href="@link.Url" class="links-link d-block p-2 w-100 stretched-link overflow-hidden">
                                    <i class="caption">@link.Title</i>
                                </a>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-12 text-center mt-3">
                    <a asp-controller="links" asp-action="index" class="small">
                        <i class="fas fa-external-link-square-alt"></i> مشاهده دیگر پیوند ها
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: پیوند های سایت -->
<!-- begin: گلبانگ اذان -->
<div class="container my-5">
    <div class="row">
        <div class="col mb-3 text-center">
            <div class="d-inline-block py-1 px-3 section">
                <div class="d-inline-block align-middle section-bg">
                </div>
                گلبانگ
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center small my-2">
            توجه: دقت محاسبات ۳± دقیقه می باشد.
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-12 col-md-6">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-9 col-md-6 text-center small mb-2">
                    <button class="d-block bg-white rounded-oval no-outline-events w-100 p-2" style="border: 1px dotted #269; color: #168" data-toggle="modal" data-target="#model-prayer-location">
                        <span class="material-icons align-bottom small">place</span>
                        <span id="prayer-location"></span>
                        (تغییر)
                    </button>
                </div>
            </div>
            <div class="row text-muted justify-content-center">
                <div class="col-9 col-sm-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">اذان صبح:</div>
                                <div class="col text-left num-fa" id="prayer-imsaak">--:--</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">طلوع آفتاب:</div>
                                <div class="col text-left num-fa" id="prayer-sunrise">--:--</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">اذان ظهر:</div>
                                <div class="col text-left num-fa" id="prayer-noon">--:--</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-sm-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">غروب خورشید:</div>
                                <div class="col text-left num-fa" id="prayer-sunset">--:--</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">اذان مغرب:</div>
                                <div class="col text-left num-fa" id="prayer-maghreb">--:--</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">نیمه شب:</div>
                                <div class="col text-left num-fa" id="prayer-midnight">--:--</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="alert alert-success small" role="alert" style="border-radius: 1.5rem;">
                        پيامبر اکرم (ص): دعا كليد رحمت، وضو كليد نماز و نماز كليد بهشت است. &nbsp;&nbsp; نهج الفصاحه، ح ۱۵۸۸
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="test">

</div>

<!-- Modal -->
<div class="modal fade" id="model-prayer-location" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    اوقات شرعی
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="model-contact-email">کشور:</label>
                    <select class="custom-select" id="prayer-country">
                        <option selected class="d-none">انتخاب نشده</option>
                    </select>
                </div>
                <div class="form-group js-prayer-province">
                    <label for="model-contact-content">استان:</label>
                    <select class="custom-select" id="prayer-province">
                        <option selected class="d-none">انتخاب نشده</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="model-contact-content">شهر:</label>
                    <select class="custom-select" id="prayer-city">
                        <option selected class="d-none">انتخاب نشده</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-primary" id="prayer-change-location">انتخاب</button>
            </div>
        </div>
    </div>
</div>
<!-- end: گلبانگ اذان -->


@section Scripts {
    <environment include="Development">
        <script src="~/lib/picturefill/3.0.3/picturefill.js"></script>
        <script src="~/lib/lightgallery/1.6.12/js/lightgallery-all.js"></script>
        <script src="~/lib/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
        <script src="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/lib/timeago/1.6.7/jquery.timeago.js"></script>
        <script src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js"
                asp-fallback-src="~/lib/picturefill/3.0.3/picturefill.min.js"
                asp-fallback-test="picturefill"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-iT+n/otuaeKCgxnASny7bxKeqCDbaV1M7VdX1ZRQtqg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.min.js"
                asp-fallback-src="~/lib/lightgallery/1.6.12/js/lightgallery-all.min.js"
                asp-fallback-test="$(document).lightGallery"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-w14QFJrxOYkUnF0hb8pVFCSgYcsF0hMIKrqGb8A7J8A=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
                asp-fallback-src="~/lib/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
                asp-fallback-test="$(document).mousewheel"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-jnOjDTXIPqall8M0MyTSt98JetJuZ7Yu+1Jm7hLTF7U=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"
                asp-fallback-src="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"
                asp-fallback-test="jQuery.mCustomScrollbar"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-/YAntTqXy9V4LoXFkI5WPDl3ZwP/knn1BljmMJJ7QWc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"
                asp-fallback-src="~/lib/timeago/1.6.7/jquery.timeago.min.js"
                asp-fallback-test="window.jQuery & jQuery.timeago"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-0+5OfvOxkLHqpLPPwy9pDjug8N3cwaqcmleaxnR5VS8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-test="jQuery.timeago"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-sFVsGcmCR6b20l9bCjpuTslNmrPlE0+k7o1nv+eC7og=" crossorigin="anonymous"></script>
    </environment>
    <script>
        $(document).ready(function () {
            jQuery("time.timeago").timeago();
        });

        $(document).ready(function () {

            if (typeof (Storage) !== "undefined") {
                if (localStorage.getItem("prayer-location") === null) {
                    setPrayerTime(1);
                }
                else {
                    setPrayerTime(localStorage.getItem("prayer-location"));
                }
            }


            function setPrayerTime(cityCode) {
                $.ajax({
                    url: "https://prayer.aviny.com/api/prayertimes/" + cityCode,
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        //$("#prayer-today").text("");
                        $("#prayer-qamari").text(data.TodayQamari);
                        $("#prayer-imsaak").text(data.Imsaak.substring(0, 5));
                        $("#prayer-sunrise").text(data.Sunrise.substring(0, 5));
                        $("#prayer-noon").text(data.Noon.substring(0, 5));
                        $("#prayer-sunset").text(data.Sunset.substring(0, 5));
                        $("#prayer-maghreb").text(data.Maghreb.substring(0, 5));
                        $("#prayer-midnight").text(data.Midnight.substring(0, 5));
                        $("#prayer-location").text(data.CountryName + " - " + data.CityName);

                    }
                });
            }

            var prayer = $('#model-prayer-location');
            var countries = prayer.find('#prayer-country');
            var provinces = prayer.find('#prayer-province');
            var cities = prayer.find('#prayer-city');

            var prayerLocation = {
                country: null,
                provience: null,
                city: null
            };

            function ClearCountry() {
                prayerLocation.country = null;
                countries.html('<option selected class="d-none">انتخاب نشده</option>');
                ClearProvience();
                ClearCity();
            }

            function ClearProvience() {
                prayerLocation.provience = null;
                provinces.html('<option selected class="d-none">انتخاب نشده</option>');
                ClearCity();
            }

            function ClearCity() {
                prayerLocation.city = null;
                cities.html('<option selected class="d-none">انتخاب نشده</option>');
            }

            $.ajax({
                url: "https://localhost:44387/data/prayer/countries.json",
                dataType: "json",
                type: "GET",
                success: function (data) {
                    ClearCountry();
                    for (var i in data) {
                        countries.append('<option value="' + data[i].code + '">' + data[i].name + '</option>')
                    }
                }
            });

            countries.change(function () {
                prayerLocation.country = this.value
                ClearProvience();

                if (this.value == 1) {
                    RetrieveIranProviences();
                } else {
                    RetrieveIranProviences(false);
                    RetrieveCities(this.value);
                }
            });

            function RetrieveIranProviences(isIran = true) {
                if (isIran) {
                    provinces.parent('.js-prayer-province').removeClass('d-none');
                    $.ajax({
                        url: "https://localhost:44387/data/prayer/iran-provinces.json",
                        dataType: "json",
                        type: "GET",
                        success: function (data) {
                            for (var i in data) {
                                provinces.append('<option value="' + data[i].code + '">' + data[i].name + '</option>')
                            }
                        }
                    });
                }
                else {
                    provinces.parent('.js-prayer-province').addClass('d-none');
                }
            }

            provinces.change(function () {
                prayerLocation.provience = this.value;
                ClearCity();
                RetrieveCities(1, this.value);
            });

            function RetrieveCities(countryCode, provinceCode = null) {
                $.ajax({
                    url: "https://localhost:44387/data/prayer/cities.json",
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        if (provinceCode == null) {
                            for (var i in data) {
                                if (data[i].countryCode == countryCode)
                                    cities.append('<option value="' + data[i].code + '">' + data[i].name + '</option>')
                            }
                        }
                        else {
                            for (var i in data) {
                                if (data[i].countryCode == 1 && data[i].provinceCode == provinceCode)
                                    cities.append('<option value="' + data[i].code + '">' + data[i].name + '</option>')
                            }
                        }
                    }
                });
            }

            cities.change(function () {
                prayerLocation.city = this.value;
            });

            $('#prayer-change-location').click(function () {
                if (prayerLocation.country != null) {
                    if (prayerLocation.country == 1) {
                        if (prayerLocation.provience != null) {
                            if (prayerLocation.city != null) {
                                setPrayerTime(prayerLocation.city);
                                localStorage.setItem("prayer-location", prayerLocation.city);
                                $('#model-prayer-location').modal('hide');
                            }
                        }
                    } else {
                        if (prayerLocation.city != null) {
                            setPrayerTime(prayerLocation.city);
                            localStorage.setItem("prayer-location", prayerLocation.city);
                            $('#model-prayer-location').modal('hide');
                        }
                    }
                }
            });
        });
    </script>
}