@using System.Web;
@using Rezaee.Alireza.Web.Extensions;
@model Rezaee.Alireza.Web.Models.ViewModels.Home.IndexViewModel
@section Head {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css" />
        <link rel="stylesheet" href="~/lib/lightgallery/1.6.12/css/lightgallery.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/5.11.2/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
              asp-fallback-href="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
              asp-fallback-test-class="mCustomScrollBox"
              asp-fallback-test-property="position"
              asp-fallback-test-value="relative"
              asp-suppress-fallback-integrity="true"
              integrity="sha256-JHGEmB629pipTkMag9aMaw32I8zle24p3FpsEeI6oZU=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css"
              asp-fallback-href="~/lib/lightgallery/1.6.12/css/lightgallery.min.css"
              asp-fallback-test-class="lg-icon"
              asp-fallback-test-property="font-family"
              asp-fallback-test-value="lg"
              asp-suppress-fallback-integrity="true"
              integrity="sha256-8rfHbJr+ju3Oc099jFJMR1xAPu8CTPHU8uP5J3X/VAY=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
              asp-fallback-href="~/lib/fontawesome/5.11.2/css/all.min.css"
              asp-fallback-test-class="fa"
              asp-fallback-test-property="font-weight"
              asp-fallback-test-value="900"
              asp-suppress-fallback-integrity="true"
              integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    </environment>

    <style>
        .post-help-flag::before {
            content: "help_outline";
            position: absolute;
            left: 0;
            bottom: 0;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -moz-font-feature-settings: 'liga';
            -moz-osx-font-smoothing: grayscale;
            margin-bottom: 20px;
            margin-left: 2px;
            color: #fff;
        }

        .post-help-schedule::before {
            content: "schedule";
        }

        .pin-button {
            z-index: 5;
            top: 15px;
            right: 15px;
            background-color: rgba(0,0,0, 0.3);
        }

        @@media (min-width: 768px) {
            .card-columns {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
            }
        }

        @@media (max-width: 767px) {
            .card-columns {
                -webkit-column-count: 1;
                -moz-column-count: 1;
                column-count: 1;
            }
        }
    </style>
}
<div class="container my-3">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="row justify-content-center">
                <div class="col-2 text-center tazhib"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-11 d-block d-sm-flex mx-auto px-0 text-center border rounded py-4">
            @Html.Raw(HttpUtility.HtmlDecode(Model.QuranAyah))
        </div>
    </div>
</div>


<div class="container mt-3 notes">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">درباره نویسنده</h6>
                <div class="media text-muted pt-3">
                    <img src="/uploads/profile/avatar-32x.jpg" alt="" width="32" height="32"
                         class="ml-2 rounded-circle">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.AboutAuthorSummary))
                    </p>
                </div>
                <div class="text-left mt-3">
                    <a asp-action="about" class="small">اطلاعات بیشتر</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">مطالب پیشنهادی</h6>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <span class="d-block text-gray-dark">
                            <strong>
                                آموزش دریافت و نصب پیشرفته ویژوال
                                استدیو
                            </strong>
                        </span> در این مقاله به نصب محبوب ترین IDE توسعه نرم افزاری خواهیم پرداخت.
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <span class="d-block text-gray-dark"><strong>کار مردم نیست؛ کار اشرار است</strong></span> بیانات رهبر انقلاب درباره مسائل پیش‌آمده پس از اجرای طرح مدیریت مصرف سوخت
                    </p>
                </div>
                <div class="text-left mt-3">
                    <a href="#" class="small">فهرست آخرین مطالب پیشنهادی</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-2">
            <div class="row">
                <div class="col-6">
                    <button class="d-block bg-glin-blue text-white small rounded border-0 w-100 p-2" data-toggle="modal" data-target="#model-contact">
                        ارسال پیام مستقیم
                    </button>
                </div>
                <div class="col-6">
                    <button class="d-block bg-glin-magenta text-white small rounded border-0 w-100 p-2" data-toggle="modal" data-target="#model-order-request">
                        ثبت سفارش
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="model-contact" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            ارتباط مستقیم
                        </h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="model-contact-email">رایانامه <small>(پست الکترونیکی)</small></label>
                            <input type="email" class="form-control" id="model-contact-email">
                            <small class="form-text text-muted">
                                در صورتی که نیاز به پاسخ دارید رایانامه
                                خود را وارد کنید.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="model-contact-content">متن پیام</label>
                            <textarea class="form-control" id="model-contact-content" rows="3"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <div class="g-recaptcha d-inline-block" data-sitekey="6Le4keMUAAAAAEUadm6KKSDjYtH40WL1d3kj8gRo" data-size="compact"></div>
                            <input type="hidden" class="form-control" id="model-contact-email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">انصراف</button>
                        <button type="submit" class="btn btn-primary">ارسال پیام</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="model-order-request" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            ثبت سفارش جدید
                        </h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <small class="form-text text-muted mb-2">
                            پیش از تکمیل فرم رزومه علیرضا رضائی را مطالعه کنید.
                        </small>
                        <hr>
                        <div class="form-group">
                            <label for="model-contact-email">نام و نام خانوادگی</label>
                            <input type="email" class="form-control" id="model-contact-email">
                        </div>
                        <div class="form-group">
                            <label for="model-contact-email">شماره تماس</label>
                            <input type="email" class="form-control" id="model-contact-email">
                            <small class="form-text text-muted">
                                برای برقراری ارتباط با شما مورد استفاده قرار می
                                گیرد.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="model-contact-email">رایانامه <small>(پست الکترونیکی)</small></label>
                            <input type="email" class="form-control" id="model-contact-email">
                        </div>
                        <div class="form-group">
                            <label for="model-contact-content">شرح سفارش</label>
                            <textarea class="form-control" id="model-contact-content" rows="3"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <div class="g-recaptcha d-inline-block" data-sitekey="6Le4keMUAAAAAEUadm6KKSDjYtH40WL1d3kj8gRo" data-size="compact"></div>
                            <input type="hidden" class="form-control" id="model-contact-email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">انصراف</button>
                        <button type="submit" class="btn btn-primary">ثبت سفارش</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- begin: مطالب سایت -->
<div class="container my-5">
    @if (Model.Posts.Any())
    {
        <div class="card-columns">
            @foreach (var post in Model.Posts)
            {
                <div class="post card shadow-sm" @if (post.PublishDateTime.Date > DateTime.Now) { <text> style="border: 2px dotted #08f !important;" </text> } data-post-id="@post.Id">
                    @if (post.PublishDateTime.Date > DateTime.Now)
                    {
                        <button class="btn d-inline-block position-absolute p-0 post-help-flag post-help-schedule material-icons"
                                style="top: 0; left: 0; border-top: 50px solid #08f; border-right: 50px solid transparent; z-index: 99; box-shadow: none;"
                                data-toggle="tooltip"
                                title="این مطلب «ارسال به آینده» است و هنور در دسترس عمومی قرار ندارد.">
                        </button>
                    }
                    <div class="post-summary">
                        <img src="@post.ThumbnailUrl" class="card-img-top rounded-top" alt="@post.Title">
                        <div class="card-body">
                            <h2 class="card-title">@Html.Raw(post.Title)</h2>
                            <p class="card-text">@Html.Raw(post.Summary)</p>
                            <div class="text-left">
                                <button class="position-relative btn btn-outline-light shadow border rounded-oval position-absolute pin-button">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 4a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path d="M7.5 4h1v9a.5.5 0 0 1-1 0V4z" />
                                        <path fill-rule="evenodd" d="M6.489 12.095a.5.5 0 0 1-.383.594c-.565.123-1.003.292-1.286.472-.302.192-.32.321-.32.339 0 .013.005.085.146.21.14.124.372.26.701.382.655.246 1.593.408 2.653.408s1.998-.162 2.653-.408c.329-.123.56-.258.701-.382.14-.125.146-.197.146-.21 0-.018-.018-.147-.32-.339-.283-.18-.721-.35-1.286-.472a.5.5 0 1 1 .212-.977c.63.137 1.193.34 1.61.606.4.253.784.645.784 1.182 0 .402-.219.724-.483.958-.264.235-.618.423-1.013.57-.793.298-1.855.472-3.004.472s-2.21-.174-3.004-.471c-.395-.148-.749-.336-1.013-.571-.264-.234-.483-.556-.483-.958 0-.537.384-.929.783-1.182.418-.266.98-.47 1.611-.606a.5.5 0 0 1 .595.383z" />
                                    </svg>
                                </button>
                                <button class="position-relative btn btn-light border rounded-oval" style="z-index: 5;">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4.5 2a.5.5 0 0 0-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 0 1 1 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 0 1 4.5 1h4a.5.5 0 0 1 0 1h-4zm9-1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z" />
                                        <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
                                    </svg>
                                </button>
                                <a href="@post.PostUrl" class="stretched-link btn btn-light border rounded-oval">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z" />
                                        <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z" />
                                    </svg>
                                    بخوانید
                                </a>
                            </div>
                        </div>
                    </div>
                    @if (post.RelatedPosts.Any())
                    {
                        <div class="js-related-posts">
                            @foreach (var relatedPost in post.RelatedPosts)
                            {
                                <div class="card-footer">
                                    <a href="@relatedPost.PostUrl" class="stretched-link"><small class="text-muted small">@relatedPost.Title</small></a>
                                </div>
                            }
                        </div>
                        @if (post.RelatedPosts.Count == 2)
                        {
                            <div class="card-footer text-center more-related-posts">
                                <button type="button" class="btn stretched-link js-more-related-posts" data-post-id="@post.Id">
                                    <svg class="bi bi-three-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                    </svg>
                                </button>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    }

    <div class="text-center">
        <a asp-controller="posts" asp-action="index" class="btn btn-light border rounded-oval mt-4 px-5 shadow">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z" />
                <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z" />
            </svg>
            ادامه
        </a>
    </div>

</div>
<!-- end: پایان مطالب سایت -->
<!-- begin: پیوند های سایت -->
<div class="container my-5">
    <div class="row">
        <div class="col mb-3">
            <div class="d-inline-block py-1 px-3 section">
                <div class="d-inline-block align-middle section-bg">
                </div>
                پیوند ها
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11">

            <div class="row links rounded justify-content-center">
                @foreach (var link in Model.IllustratedLinks)
                {
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="my-2 position-relative">
                            <div class="bg-danger rounded-top links-cover" style="background-image: url(@link.ImagePath);">
                            </div>
                            <div class="d-flex links-content links-item">
                                <a href="@link.Url" target="_blank" rel="noreferrer noopener" class="links-site-link links-link p-2 rounded-0" style="z-index: 2;">
                                    <i class="material-icons align-middle">language</i>
                                </a>
                                <a href="@link.Url" class="links-link d-block p-2 w-100 stretched-link overflow-hidden">
                                    <i class="caption">@link.Title</i>
                                </a>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-12 text-center mt-3">
                    <a asp-controller="links" asp-action="index" class="small">
                        <i class="fas fa-external-link-square-alt"></i> مشاهده دیگر پیوند ها
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: پیوند های سایت -->
<!-- begin: گلبانگ اذان -->
<div class="container my-5">
    <div class="row">
        <div class="col mb-3 text-center">
            <div class="d-inline-block py-1 px-3 section">
                <div class="d-inline-block align-middle section-bg">
                </div>
                گلبانگ
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center small my-2">
            توجه: دقت محاسبات ۳± دقیقه می باشد.
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-12 col-md-6">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-9 col-md-6 text-center small mb-2">
                    <button class="d-block bg-white rounded-oval no-outline-events w-100 p-2" style="border: 1px dotted #269; color: #168" data-toggle="modal" data-target="#model-prayer-location">
                        <span class="material-icons align-bottom small">place</span>
                        <span id="prayer-location"></span>
                        (تغییر)
                    </button>
                </div>
            </div>
            <div class="row text-muted justify-content-center">
                <div class="col-9 col-sm-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">اذان صبح:</div>
                                <div class="col text-left num-fa" id="prayer-imsaak">--:--</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">طلوع آفتاب:</div>
                                <div class="col text-left num-fa" id="prayer-sunrise">--:--</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">اذان ظهر:</div>
                                <div class="col text-left num-fa" id="prayer-noon">--:--</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-sm-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">غروب خورشید:</div>
                                <div class="col text-left num-fa" id="prayer-sunset">--:--</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">اذان مغرب:</div>
                                <div class="col text-left num-fa" id="prayer-maghreb">--:--</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-right small">نیمه شب:</div>
                                <div class="col text-left num-fa" id="prayer-midnight">--:--</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="alert alert-success small" role="alert" style="border-radius: 1.5rem;">
                        پيامبر اکرم (ص): دعا كليد رحمت، وضو كليد نماز و نماز كليد بهشت است. &nbsp;&nbsp; نهج الفصاحه، ح ۱۵۸۸
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="test">

</div>

<!-- Modal -->
<div class="modal fade" id="model-prayer-location" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    اوقات شرعی
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="model-contact-email">کشور:</label>
                    <select class="custom-select" id="prayer-country">
                        <option selected class="d-none">انتخاب نشده</option>
                    </select>
                </div>
                <div class="form-group js-prayer-province">
                    <label for="model-contact-content">استان:</label>
                    <select class="custom-select" id="prayer-province">
                        <option selected class="d-none">انتخاب نشده</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="model-contact-content">شهر:</label>
                    <select class="custom-select" id="prayer-city">
                        <option selected class="d-none">انتخاب نشده</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-primary" id="prayer-change-location">انتخاب</button>
            </div>
        </div>
    </div>
</div>
<!-- end: گلبانگ اذان -->


@section Scripts {
    <environment include="Development">
        <script src="~/lib/picturefill/3.0.3/picturefill.js"></script>
        <script src="~/lib/lightgallery/1.6.12/js/lightgallery-all.js"></script>
        <script src="~/lib/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
        <script src="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/lib/timeago/1.6.7/jquery.timeago.js"></script>
        <script src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js"
                asp-fallback-src="~/lib/picturefill/3.0.3/picturefill.min.js"
                asp-fallback-test="picturefill"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-iT+n/otuaeKCgxnASny7bxKeqCDbaV1M7VdX1ZRQtqg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.min.js"
                asp-fallback-src="~/lib/lightgallery/1.6.12/js/lightgallery-all.min.js"
                asp-fallback-test="$(document).lightGallery"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-w14QFJrxOYkUnF0hb8pVFCSgYcsF0hMIKrqGb8A7J8A=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
                asp-fallback-src="~/lib/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
                asp-fallback-test="$(document).mousewheel"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-jnOjDTXIPqall8M0MyTSt98JetJuZ7Yu+1Jm7hLTF7U=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"
                asp-fallback-src="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"
                asp-fallback-test="jQuery.mCustomScrollbar"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-/YAntTqXy9V4LoXFkI5WPDl3ZwP/knn1BljmMJJ7QWc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"
                asp-fallback-src="~/lib/timeago/1.6.7/jquery.timeago.min.js"
                asp-fallback-test="window.jQuery & jQuery.timeago"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-0+5OfvOxkLHqpLPPwy9pDjug8N3cwaqcmleaxnR5VS8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-test="jQuery.timeago"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-sFVsGcmCR6b20l9bCjpuTslNmrPlE0+k7o1nv+eC7og=" crossorigin="anonymous"></script>
    </environment>
    <script>
        $('.js-more-related-posts').click(function (e) {
            var buttonContainer = $(e.target).parent('.more-related-posts');
            $.ajax({
                url: "/posts/" + $(e.target).parents('.post').data("post-id") + "/related-posts.json?count=5",
                dataType: "json",
                type: "GET",
                success: function (posts) {
                    var relatedPosts = '';
                    for (var post in posts)
                        relatedPosts += '<div class="card-footer"><a href="' + posts[post].postUrl + '" class="stretched-link"><small class="text-muted small">' + posts[post].title + '</small></a></div>';;
                    $(e.target).parents('.post').find('.js-related-posts').html(relatedPosts);

                    var elemLoadMoreRelatedPosts = document.createElement('a');
                    elemLoadMoreRelatedPosts.classList.add('btn', 'stretched-link', 'js-more-related-posts');
                    $(elemLoadMoreRelatedPosts).attr('href', '/posts/' + buttonContainer.find('.js-more-related-posts').data('post-id') + '/related-posts').css('font-size', 'small').html('<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.5 3A1.5 1.5 0 0 0 13 1.5H3A1.5 1.5 0 0 0 1.5 3v5a.5.5 0 0 0 1 0V3a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H9a.5.5 0 0 0 0 1h4a1.5 1.5 0 0 0 1.5-1.5V3z"/><path fill-rule="evenodd" d="M4.5 6a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6.5H5a.5.5 0 0 1-.5-.5z"/><path fill-rule="evenodd" d="M10.354 5.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/></svg> مطالب بیشتر').appendTo(buttonContainer.text(''));
                }
            });
        });

        $(document).ready(function () {
            jQuery("time.timeago").timeago();
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $(document).ready(function () {

            if (typeof (Storage) !== "undefined") {
                if (localStorage.getItem("prayer-location") === null) {
                    setPrayerTime(1);
                }
                else {
                    setPrayerTime(localStorage.getItem("prayer-location"));
                }
            }


            function setPrayerTime(cityCode) {
                $.ajax({
                    url: "https://prayer.aviny.com/api/prayertimes/" + cityCode,
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        //$("#prayer-today").text("");
                        $("#prayer-qamari").text(data.TodayQamari);
                        $("#prayer-imsaak").text(data.Imsaak.substring(0, 5));
                        $("#prayer-sunrise").text(data.Sunrise.substring(0, 5));
                        $("#prayer-noon").text(data.Noon.substring(0, 5));
                        $("#prayer-sunset").text(data.Sunset.substring(0, 5));
                        $("#prayer-maghreb").text(data.Maghreb.substring(0, 5));
                        $("#prayer-midnight").text(data.Midnight.substring(0, 5));
                        $("#prayer-location").text(data.CountryName + " - " + data.CityName);

                    }
                });
            }

            var prayer = $('#model-prayer-location');
            var countries = prayer.find('#prayer-country');
            var provinces = prayer.find('#prayer-province');
            var cities = prayer.find('#prayer-city');

            var prayerLocation = {
                country: null,
                provience: null,
                city: null
            };

            function ClearCountry() {
                prayerLocation.country = null;
                countries.html('<option selected class="d-none">انتخاب نشده</option>');
                ClearProvience();
                ClearCity();
            }

            function ClearProvience() {
                prayerLocation.provience = null;
                provinces.html('<option selected class="d-none">انتخاب نشده</option>');
                ClearCity();
            }

            function ClearCity() {
                prayerLocation.city = null;
                cities.html('<option selected class="d-none">انتخاب نشده</option>');
            }

            $.ajax({
                url: "https://localhost:44387/data/prayer/countries.json",
                dataType: "json",
                type: "GET",
                success: function (data) {
                    ClearCountry();
                    for (var i in data) {
                        countries.append('<option value="' + data[i].code + '">' + data[i].name + '</option>')
                    }
                }
            });

            countries.change(function () {
                prayerLocation.country = this.value
                ClearProvience();

                if (this.value == 1) {
                    RetrieveIranProviences();
                } else {
                    RetrieveIranProviences(false);
                    RetrieveCities(this.value);
                }
            });

            function RetrieveIranProviences(isIran = true) {
                if (isIran) {
                    provinces.parent('.js-prayer-province').removeClass('d-none');
                    $.ajax({
                        url: "https://localhost:44387/data/prayer/iran-provinces.json",
                        dataType: "json",
                        type: "GET",
                        success: function (data) {
                            for (var i in data) {
                                provinces.append('<option value="' + data[i].code + '">' + data[i].name + '</option>')
                            }
                        }
                    });
                }
                else {
                    provinces.parent('.js-prayer-province').addClass('d-none');
                }
            }

            provinces.change(function () {
                prayerLocation.provience = this.value;
                ClearCity();
                RetrieveCities(1, this.value);
            });

            function RetrieveCities(countryCode, provinceCode = null) {
                $.ajax({
                    url: "https://localhost:44387/data/prayer/cities.json",
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        if (provinceCode == null) {
                            for (var i in data) {
                                if (data[i].countryCode == countryCode)
                                    cities.append('<option value="' + data[i].code + '">' + data[i].name + '</option>')
                            }
                        }
                        else {
                            for (var i in data) {
                                if (data[i].countryCode == 1 && data[i].provinceCode == provinceCode)
                                    cities.append('<option value="' + data[i].code + '">' + data[i].name + '</option>')
                            }
                        }
                    }
                });
            }

            cities.change(function () {
                prayerLocation.city = this.value;
            });

            $('#prayer-change-location').click(function () {
                if (prayerLocation.country != null) {
                    if (prayerLocation.country == 1) {
                        if (prayerLocation.provience != null) {
                            if (prayerLocation.city != null) {
                                setPrayerTime(prayerLocation.city);
                                localStorage.setItem("prayer-location", prayerLocation.city);
                                $('#model-prayer-location').modal('hide');
                            }
                        }
                    } else {
                        if (prayerLocation.city != null) {
                            setPrayerTime(prayerLocation.city);
                            localStorage.setItem("prayer-location", prayerLocation.city);
                            $('#model-prayer-location').modal('hide');
                        }
                    }
                }
            });
        });
    </script>
}