@using System.Web;
@model AlirezaRezaee.Web.Models.ViewModels.HomeIndexViewModel;
@{
    ViewData["Title"] = "تارنمای علیرضا رضائی";
}
@section Head {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css" />
        <link rel="stylesheet" href="~/lib/lightgallery/1.6.12/css/lightgallery.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/5.11.2/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
              asp-fallback-href="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
              asp-fallback-test-class="mCustomScrollBox"
              asp-fallback-test-property="position"
              asp-fallback-test-value="relative"
              asp-suppress-fallback-integrity="true"
              integrity="sha256-JHGEmB629pipTkMag9aMaw32I8zle24p3FpsEeI6oZU=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css"
              asp-fallback-href="~/lib/lightgallery/1.6.12/css/lightgallery.min.css"
              asp-fallback-test-class="lg-icon"
              asp-fallback-test-property="font-family"
              asp-fallback-test-value="lg"
              asp-suppress-fallback-integrity="true"
              integrity="sha256-8rfHbJr+ju3Oc099jFJMR1xAPu8CTPHU8uP5J3X/VAY=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
              asp-fallback-href="~/lib/fontawesome/5.11.2/css/all.min.css"
              asp-fallback-test-class="fa"
              asp-fallback-test-property="font-weight"
              asp-fallback-test-value="900"
              asp-suppress-fallback-integrity="true"
              integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    </environment>
}

<div class="container my-3">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="row justify-content-center">
                <div class="col-2 text-center tazhib"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-11 d-block d-sm-flex mx-auto px-0 text-center border rounded py-4">
            @Html.Raw(HttpUtility.HtmlDecode(ViewBag.ProfileOptions.QuranAyah))
        </div>
    </div>
</div>


<div class="container mt-3 notes">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">درباره نویسنده</h6>
                <div class="media text-muted pt-3">
                    <img src="/uploads/profile/avatar-32x.jpg" alt="" width="32" height="32"
                         class="ml-2 rounded-circle">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        @Html.Raw(HttpUtility.HtmlDecode(ViewBag.ProfileOptions.AboutAuthorSummary))
                    </p>
                </div>
                <small class="d-block text-left mt-3">
                    <a href="#">اطلاعات بیشتر</a>
                </small>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">تازه ترین پیام ها</h6>
                @if (Model.Notes.Any())
                {
                    foreach (var note in Model.Notes)
                    {
                        <div class="media text-muted pt-3">
                            <img src="/uploads/profile/avatar-32x.jpg" alt="" width="32" height="32" class="ml-2 rounded">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <span class="d-block text-gray-dark">
                                    <strong>@ViewBag.ProfileOptions.FullName</strong> . <time class="timeago" datetime="@note.DateTime.ToString("yyyy-MM-ddTHH\\:mm\\:ss")"></time>
                                </span>
                                @note.Content
                            </p>
                        </div>
                    }

                    <small class="d-block text-left mt-3">
                        <a href="#">نمایش همه پیام ها</a>
                    </small>
                }
                else
                {
                    <div>پیامی جهت نمایش وجود ندارد.</div>
                }
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <environment include="Development">
        <script src="~/lib/picturefill/3.0.3/picturefill.js"></script>
        <script src="~/lib/lightgallery/1.6.12/js/lightgallery-all.js"></script>
        <script src="~/lib/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
        <script src="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/lib/timeago/1.6.7/jquery.timeago.js"></script>
        @*<script src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.js"></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-test="jQuery.timeago"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-sFVsGcmCR6b20l9bCjpuTslNmrPlE0+k7o1nv+eC7og=" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js"
                asp-fallback-src="~/lib/picturefill/3.0.3/picturefill.min.js"
                asp-fallback-test="picturefill"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-iT+n/otuaeKCgxnASny7bxKeqCDbaV1M7VdX1ZRQtqg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.min.js"
                asp-fallback-src="~/lib/lightgallery/1.6.12/js/lightgallery-all.min.js"
                asp-fallback-test="$(document).lightGallery"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-w14QFJrxOYkUnF0hb8pVFCSgYcsF0hMIKrqGb8A7J8A=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
                asp-fallback-src="~/lib/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
                asp-fallback-test="$(document).mousewheel"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-jnOjDTXIPqall8M0MyTSt98JetJuZ7Yu+1Jm7hLTF7U=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"
                asp-fallback-src="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"
                asp-fallback-test="jQuery.mCustomScrollbar"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-/YAntTqXy9V4LoXFkI5WPDl3ZwP/knn1BljmMJJ7QWc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"
                asp-fallback-src="~/lib/timeago/1.6.7/jquery.timeago.min.js"
                asp-fallback-test="window.jQuery & jQuery.timeago"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-0+5OfvOxkLHqpLPPwy9pDjug8N3cwaqcmleaxnR5VS8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-test="jQuery.timeago"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-sFVsGcmCR6b20l9bCjpuTslNmrPlE0+k7o1nv+eC7og=" crossorigin="anonymous"></script>
    </environment>
    <script>
        jQuery("time.timeago").timeago();
    </script>
}