@using Rezaee.Alireza.Web.Extensions
@using Rezaee.Alireza.Web.Helpers
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "مدیریت نقش ها";
    var hasUserRolesListPrivilege = User.IsInRole(Roles.UserRolesList);
    var hasCreateRolePrivilege = User.IsInRole(Roles.RoleCreate);
    var hasEditRolePrivilege = User.IsInRole(Roles.RoleEdit);
    var hasRemoveRolePrivilege = User.IsInRole(Roles.RoleDelete);
}

<br class="my-3" />
<h2 class="text-right fs-4">@ViewData["Title"]</h2>
<hr />

@if (hasCreateRolePrivilege)
{
    <div class="text-right">
        <button type="button" class="btn btn-light border" data-toggle="modal" data-target="#create">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
            </svg>
            افزودن
        </button>
    </div>

    <hr />
}

@if (!Model.Any())
{
    <div class="alert alert-warning text-center">هیچ نقشی در سیستم ثبت نشده است.</div>
}
else
{
    <table class="table table-hover table-bordered table-responsive text-center table-sm">
        <thead>
            <tr>
                <td>ردیف</td>
                <td>عنوان نقش</td>
                @if (hasEditRolePrivilege || hasUserRolesListPrivilege || hasRemoveRolePrivilege)
                {
                    <td>مدیریت نقش</td>
                }
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">@i.EnglishToPersian()</td>
                    <td class="align-middle font-weight-bold">@item.Name</td>
                    @if (hasEditRolePrivilege || hasUserRolesListPrivilege || hasRemoveRolePrivilege)
                    {
                        <td class="align-middle" style="font-size:0.9rem;">
                            @if (hasEditRolePrivilege)
                            {
                                <button class="btn btn-light text-primary" data-toggle="modal" data-target="#edit" data-name="@item.Name">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z" />
                                        <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z" />
                                        <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z" />
                                    </svg>
                                    ویرایش عنوان
                                </button>
                            }

                            @if (hasUserRolesListPrivilege)
                            {
                                <a class="btn btn-light text-dark" asp-controller="UserRoles" asp-route-rolename="@item.Name" title="مدیریت کاربران این نقش">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zm7.973.056v-.002.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                                    </svg>
                                    کاربران دارا
                                </a>
                            }

                            @if (hasRemoveRolePrivilege)
                            {
                                <button class="btn btn-light text-danger" data-toggle="modal" data-target="#delete" data-name="@item.Name">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                    حذف
                                </button>
                            }
                        </td>
                    }
                </tr>
                i++;
            }
        </tbody>
    </table>
}

@if (User.IsInRole(Roles.UsersList))
{
    <div class="text-left">
        <a asp-action="Index" asp-controller="Users" class="btn btn-light border">فهرست کاربران</a>
    </div>
}

@if (hasCreateRolePrivilege)
{
    <div class="modal fade text-right" id="create" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Create">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">افزودن نقش جدید</h5>
                        <button type="button" class="btn-close mr-auto ml-0" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="name">نام نقش : </label>
                            <input id="name" name="name" required class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-success">افزودن</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@if (hasRemoveRolePrivilege)
{
    <div class="modal fade text-right" id="delete" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Delete">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">حذف نقش</h5>
                        <button type="button" class="btn-close mr-auto ml-0" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        آیا از حذف نقش <mark class="text-danger p-2"></mark> اطمینان دارید ؟
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-danger">حذف</button>
                    </div>
                    <input type="hidden" name="name" />
                </form>
            </div>
        </div>
    </div>
}

@if (hasEditRolePrivilege)
{
    <div class="modal fade text-right" id="edit" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Edit">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ویرایش نقش <mark class="text-danger p-2"></mark></h5>
                        <button type="button" class="btn-close mr-auto ml-0" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="name">نام نقش : </label>
                            <input id="name" name="newName" required class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-warning">ویرایش</button>
                    </div>
                    <input type="hidden" name="name" />
                </form>
            </div>
        </div>
    </div>
}

@section Scripts{
    @if (hasEditRolePrivilege)
    {
        <script>
            $("#edit").on("show.bs.modal", function (e) {
                var roleName = $(e.relatedTarget).data('name');
                $(this).find('mark').text(roleName);
                $(this).find('input[name=name],input[name=newName]').val(roleName);
            });
        </script>
    }
    @if (hasRemoveRolePrivilege)
    {
        <script>
            $("#delete").on("show.bs.modal", function (e) {
                var roleName = $(e.relatedTarget).data('name');
                $(this).find('mark').text(roleName);
                $(this).find('input[name=name]').val(roleName);
            });
        </script>
    }
}