@model Rezaee.Alireza.Web.Models.ViewModels.HeaderFooter.HeadCoverViewModel
<div id="header" class="text-center" style="margin-bottom: calc(5rem + 26px);">
    <div id="hnav-besm" class="mx-auto py-2"></div>
    <div class="container h-100 text-right">
        <div class="cover h-100 rounded" style="background-image: url(@Model.CoverPath);"></div>
        <nav id="hnav">
            <div class="cover-avatar d-inline-block">
                <picture>
                    <source media="(min-width: 992px)" srcset="@Model.AvatarPath_150px">
                    <source media="(min-width: 768px)" srcset="@Model.AvatarPath_125px">
                    <source media="(min-width: 576px)" srcset="@Model.AvatarPath_100px">
                    <img src="@Model.AvatarPath_64px" alt="@Model.FullName" class="rounded-circle h-100 img-fluid">
                </picture>
            </div>
            <div id="hnav-list" class="d-flex pr-0 mb-0 rounded-bottom position-relative">
                <a href="/"><img src="@Model.IllustratedNamePath" alt="@Model.FullName"></a>
                <div class="mr-auto position-relative">
                    <button type="button" class="btn btn-default h-100 d-block d-sm-none nav-shortcuts-trigger" id="js-nav-shortcuts-trigger">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </button>
                    <ul class="d-none d-sm-flex align-items-center pr-0 nav-shortcuts" id="js-nav-shortcuts">
                        <partial name="_HeadNavPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div style="height: 1px;"></div>
