@model IEnumerable<AlirezaRezaee.Web.Models.AuthorNoteModel>

@{
    Layout = "_ContainerLayout";
    ViewData["Title"] = "یادداشت ها";
}

<h1>@ViewData["Title"]</h1>

<div class="my-5">
    @if (Model.Any())
    {
        foreach (var note in Model)
        {
            <div class="mb-5">
                <div class="d-flex">
                    <div class="rounded-circle ml-2" style="height: 40px; width: 40px; min-width: 40px;">
                        <img src="@ViewBag.ProfileOptions.AvatarPath_64px" alt="@ViewData["FullName"]" class="rounded-circle h-100 img-fluid">
                    </div>
                    <div class="pl-1 small" style="border: 1px solid #d2d2d2; border-radius: 3rem; line-height: 2.5;">
                        <div class="px-2 py-1 d-inline-block" style="border-radius: 3rem; background-color: #e9ecef; height: 40px;">
                            @ViewData["FullName"]
                        </div>
                        <time class="timeago" datetime="@note.DateTime.ToString("yyyy-MM-ddTHH\\:mm\\:ss")"></time>
                    </div>
                </div>
                <div class="px-2 py-2 m-1 d-inline-block" style="border-radius: 3rem; background-color: #e9ecef; border: 1px solid #d2d2d2;">
                    @note.Content
                </div>
            </div>
        }
    }
    else
    {
        <div>پیامی جهت نمایش وجود ندارد.</div>
    }
</div>


@section Scripts {
    <environment include="Development">
        <script src="~/lib/picturefill/3.0.3/picturefill.js"></script>
        <script src="~/lib/lightgallery/1.6.12/js/lightgallery-all.js"></script>
        <script src="~/lib/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
        <script src="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/lib/timeago/1.6.7/jquery.timeago.js"></script>
        <script src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-test="jQuery.timeago"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-sFVsGcmCR6b20l9bCjpuTslNmrPlE0+k7o1nv+eC7og=" crossorigin="anonymous"></script>
    </environment>
    <script>
        jQuery("time.timeago").timeago();
    </script>
}