@model AlirezaRezaee.Web.Models.ViewModels.Notes.IndexAuthorNoteViewModel

@{
    Layout = "_ContainerLayout";
    ViewData["Title"] = "یادداشت ها";
}

<h2>@ViewData["Title"]</h2>

<div class="my-5">

    <div class="d-inline-block mb-5 position-relative">
        <div class="d-flex">
            <div class="rounded-circle ml-2" style="height: 40px; width: 40px; min-width: 40px;">
                <a href="#new-note" class="border-0 bg-transparent text-decoration-none stretched-link" style="outline: none;" data-toggle="modal">
                    <i class="material-icons bg-secondary rounded-circle text-white" style="padding: 5px;margin: 5px;">add</i>
                </a>
            </div>
            <div class="pl-1 small" style="border: 1px solid #d2d2d2; border-radius: 3rem; line-height: 2.5;">
                <div class="px-2 py-1 d-inline-block" style="border-radius: 3rem; background-color: #e9ecef; height: 40px;">
                    @ViewData["FullName"]
                </div>
                <span class="text-black-50 px-2">یادداشت جدید</span>
            </div>
        </div>
        <div class="px-2 py-2 m-1 d-inline-block small" style="border-radius: 3rem; background-color: #e9ecef; border: 1px solid #d2d2d2;">
            پیامی بنویسید ...
        </div>
    </div>

    @if (Model.AuthorNotes.Any())
    {
        foreach (var note in Model.AuthorNotes)
        {
    <div class="mb-5 js-note">
        <div class="d-flex">
            <div class="rounded-circle ml-2" style="height: 40px; width: 40px; min-width: 40px;">
                <img src="@ViewData["AvatarPath_64px"]" alt="@ViewData["FullName"]" class="rounded-circle h-100 img-fluid">
            </div>
            <div class="pl-1 small" style="border: 1px solid #d2d2d2; border-radius: 3rem; line-height: 2.5;">
                <div class="px-2 py-1 d-inline-block" style="border-radius: 3rem; background-color: #e9ecef; height: 40px;">
                    @ViewData["FullName"]
                </div>
                <time class="timeago fa-num" datetime="@note.DateTime.ToString("yyyy-MM-ddTHH\\:mm\\:ss")"></time>
            </div>
            <div class="mr-2">
                <button class="btn btn-default p-0 rounded-circle mt-2" data-toggle="modal" data-target="#delete-note" data-id="@note.Id">
                    <i class="material-icons" style="padding: 5px;font-size: 16px;">close</i>
                </button>
                <button class="btn btn-default p-0 rounded-circle mt-2" data-toggle="modal" data-target="#edit-note" data-id="@note.Id">
                    <i class="material-icons" style="padding: 5px;font-size: 16px;">edit</i>
                </button>
            </div>
        </div>
        <div class="px-2 py-2 m-1 d-inline-block js-note-content" style="border-radius: 3rem; background-color: #e9ecef; border: 1px solid #d2d2d2;">
            @note.Content
        </div>
    </div>
        }
    }
    else
    {
    <div>پیامی جهت نمایش وجود ندارد.</div>
    }
</div>


@section Scripts {
    <div class="modal fade" id="delete-note" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="delete" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">حذف یادداشت</h5>
                        <button type="button" class="close mr-auto ml-0" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-5">
                            <div class="d-flex">
                                <div class="rounded-circle ml-2" style="height: 40px; width: 40px; min-width: 40px;">
                                    <img src="@ViewData["AvatarPath_64px"]" alt="@ViewData["FullName"]" class="rounded-circle h-100 img-fluid">
                                </div>
                                <div class="pl-1 small" style="border: 1px solid #d2d2d2; border-radius: 3rem; line-height: 2.5;">
                                    <div class="px-2 py-1 d-inline-block" style="border-radius: 3rem; background-color: #e9ecef; height: 40px;">
                                        @ViewData["FullName"]
                                    </div>
                                    <span class="text-black-50 px-2 fa-num" id="delete-note-dt"></span>
                                </div>
                            </div>
                            <textarea id="delete-note-preview" placeholder="" class="form-control p-3 m-1 d-inline-block" style="border-radius: 3rem;background-color: #fff;border: 1px solid rgb(213, 213, 213);min-height: 45px; background-color: #eee;" disabled="disabled"></textarea>
                            <input type="hidden" name="id" value="" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">انصراف</button>
                        <button type="submit" class="btn btn-danger">تایید</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#delete-note").on("show.bs.modal", function (e) {
                    $(this).find('input[name=id]').val($(e.relatedTarget).data('id'));
                    var note = $(e.relatedTarget).parents('.js-note');
                    $(this).find('#delete-note-preview').val($(note).find('.js-note-content').text().trim());
                    $(this).find('#delete-note-dt').text($(note).find('time.timeago').text().trim());
                });
            });
        </script>
    </div>

    <div class="modal fade" id="edit-note" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="edit" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">ویرایش و اصلاح یاداشت</h5>
                        <button type="button" class="close mr-auto ml-0" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-5">
                            <div class="d-flex">
                                <div class="rounded-circle ml-2" style="height: 40px; width: 40px; min-width: 40px;">
                                    <img src="@ViewData["AvatarPath_64px"]" alt="@ViewData["FullName"]" class="rounded-circle h-100 img-fluid">
                                </div>
                                <div class="pl-1 small" style="border: 1px solid #d2d2d2; border-radius: 3rem; line-height: 2.5;">
                                    <div class="px-2 py-1 d-inline-block" style="border-radius: 3rem; background-color: #e9ecef; height: 40px;">
                                        @ViewData["FullName"]
                                    </div>
                                    <span class="text-black-50 px-2">در حال اصلاح ...</span>
                                </div>
                            </div>
                            <textarea asp-for="SingleNote.Content" id="edit-note-preview" placeholder="" class="form-control p-3 m-1 d-inline-block" style="border-radius: 3rem;background-color: #fff;border: 1px solid rgb(213, 213, 213);min-height: 45px;"></textarea>
                            <span asp-validation-for="SingleNote.Content" class="text-danger"></span>
                            <input type="hidden" name="id" value="" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">انصراف</button>
                        <button type="submit" class="btn btn-primary">تایید ویرایش</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#edit-note").on("show.bs.modal", function (e) {
                    $(this).find('input[name=id]').val($(e.relatedTarget).data('id'));
                    var content = $(e.relatedTarget).parents('.js-note').find('.js-note-content').text().trim();
                    $(this).find('#edit-note-preview').val(content).attr('placeholder', content);
                });
            });
        </script>
    </div>

    <div class="modal fade" id="new-note" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="create" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">افزودن یادداشت جدید</h5>
                        <button type="button" class="close mr-auto ml-0" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-5">
                            <div class="d-flex">
                                <div class="rounded-circle ml-2" style="height: 40px; width: 40px; min-width: 40px;">
                                    <img src="@ViewData["AvatarPath_64px"]" alt="@ViewData["FullName"]" class="rounded-circle h-100 img-fluid">
                                </div>
                                <div class="pl-1 small" style="border: 1px solid #d2d2d2; border-radius: 3rem; line-height: 2.5;">
                                    <div class="px-2 py-1 d-inline-block" style="border-radius: 3rem; background-color: #e9ecef; height: 40px;">
                                        @ViewData["FullName"]
                                    </div>
                                    <span class="text-black-50 px-2">در حال یادداشت ...</span>
                                </div>
                            </div>
                            <textarea asp-for="SingleNote.Content" placeholder="یادداشتی بنویسید ..." class="form-control p-3 m-1 d-inline-block" style="border-radius: 3rem;background-color: #fff;border: 1px solid rgb(213, 213, 213);min-height: 45px;"></textarea>
                            <span asp-validation-for="SingleNote.Content" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">انصراف</button>
                        <button type="submit" class="btn btn-primary">ارسال پیام</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/picturefill/3.0.3/picturefill.js"></script>
        <script src="~/lib/lightgallery/1.6.12/js/lightgallery-all.js"></script>
        <script src="~/lib/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
        <script src="~/lib/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/lib/timeago/1.6.7/jquery.timeago.js"></script>
        <script src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-src="~/lib/timeago/1.6.7/locales/jquery.timeago.fa.min.js"
                asp-fallback-test="jQuery.timeago"
                asp-suppress-fallback-integrity="true"
                integrity="sha256-sFVsGcmCR6b20l9bCjpuTslNmrPlE0+k7o1nv+eC7og=" crossorigin="anonymous"></script>
    </environment>
    <script>
        jQuery("time.timeago").timeago();
    </script>
}