@using Rezaee.Alireza.Web.Extensions
@using Microsoft.AspNetCore.Identity
@using Rezaee.Alireza.Web.Helpers
@addTagHelper *, Rezaee.Alireza.Web
@model Rezaee.Alireza.Web.Areas.Identity.Data.ApplicationUser
@inject SignInManager<Rezaee.Alireza.Web.Areas.Identity.Data.ApplicationUser> SignInManager
@inject UserManager<Rezaee.Alireza.Web.Areas.Identity.Data.ApplicationUser> UserManager
@{
    ViewData["Title"] = "نمایش جزئیات کاربر";
    var user = await UserManager.GetUserAsync(User);
}
<br class="my-3" />
<h2 class="text-right text-size-6">@ViewData["Title"] </h2>
<hr />

<div class="row">
    <div class="col-md-3">
        <div class="text-center">
            <div>
                @if (string.IsNullOrEmpty(Model.ProfileImagePath))
                {
                    <img-gravatar gravatar-size="150" gravatar-email="@Html.DisplayTextFor(i => i.Email)" alt="" class="rounded-circle img-fluid"></img-gravatar>
                }
                else
                {
                    <img alt="" class="rounded-circle img-fluid" src="@Model.ProfileImagePath" style="height: 150px !important; width: 150px !important;">
                }
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="mb-5">
            <div class="row mb-2">
                <div class="col-12 col-md-6">
                    <label asp-for="DisplayName"></label>
                    <input asp-for="DisplayName" disabled class="form-control" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-md">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" disabled class="form-control" />
                </div>
                <div class="col-12 col-md">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" disabled class="form-control" />
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-6">
                <label asp-for="UserName">نام کاربری</label>
                <input asp-for="UserName" class="form-control dir-ltr" disabled />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-6">
                <label asp-for="Email">رایانامه</label>
                <div class="input-group dir-ltr">
                    <div class="input-group-prepend">
                        <div class="input-group-text text-primary">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-input-cursor-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5 2a.5.5 0 0 1 .5-.5c.862 0 1.573.287 2.06.566.174.099.321.198.44.286.119-.088.266-.187.44-.286A4.165 4.165 0 0 1 10.5 1.5a.5.5 0 0 1 0 1c-.638 0-1.177.213-1.564.434a3.49 3.49 0 0 0-.436.294V7.5H9a.5.5 0 0 1 0 1h-.5v4.272c.1.08.248.187.436.294.387.221.926.434 1.564.434a.5.5 0 0 1 0 1 4.165 4.165 0 0 1-2.06-.566A4.561 4.561 0 0 1 8 13.65a4.561 4.561 0 0 1-.44.285 4.165 4.165 0 0 1-2.06.566.5.5 0 0 1 0-1c.638 0 1.177-.213 1.564-.434.188-.107.335-.214.436-.294V8.5H7a.5.5 0 0 1 0-1h.5V3.228a3.49 3.49 0 0 0-.436-.294A3.166 3.166 0 0 0 5.5 2.5.5.5 0 0 1 5 2zm3.352 1.355zm-.704 9.29z" />
                                <path d="M10 5h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4v1h4a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-4v1zM6 5V4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v-1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4z" />
                            </svg>
                        </div>
                    </div>
                    <input asp-for="Email" class="form-control text-left" disabled />
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label asp-for="PhoneNumber">شماره تماس</label>
                <input asp-for="PhoneNumber" disabled class="form-control num-fa" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 dir-ltr text-right">
                <label>@Html.DisplayNameFor(i => i.BirthDate)</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div type="button" class="input-group-text text-primary">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar4-event" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z" />
                                <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v2h16V3a2 2 0 0 0-2-2H2z" />
                                <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z" />
                                <rect width="2" height="2" x="11" y="7" rx=".5" />
                            </svg>
                        </div>
                    </div>
                    <input type="text" value="@if(Model.BirthDate != null) { @(((DateTime)Model.BirthDate).ToPersianDateTime().ToString("yyyy/MM/dd").EnglishNumberToPersian()); }" disabled class="form-control" />
                </div>

            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Location"></label>
                <input asp-for="Location" disabled class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole(Roles.UserDelete) || User.IsInRole(Roles.UsersList))
{
    <hr />
    <div class="text-center my-4">
        @if (User.IsInRole(Roles.UserDelete))
        {
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger rounded-oval px-4">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
                حذف این کاربر
            </a>
        }
        @if (User.IsInRole(Roles.UsersList))
        {
            <a asp-action="Index" class="btn btn-light border rounded-oval px-4">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
                فهرست کاربران
            </a>
        }
    </div>
}