@model AlirezaRezaee.PersonalNotes.WeblogApp.Models.Page
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = $"برگه {Model.Title}"; //TODO: Please add new property "page description" to page model. Then repleace current value;
}
@section Meta {
    <meta name="description" content="@Html.Raw((string)ViewData["Description"])">
    <link rel="canonical" href="@((string)ViewData["Url"])" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="@((string)ViewData["Url"])">
    <meta property="og:title" content="@Html.Raw((string)ViewData["Title"])">
    <meta property="og:description" content="@Html.Raw((string)ViewData["Description"])">
    <meta property="og:image" content="@((string)ViewData["Image"])">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="@((string)ViewData["Url"])">
    <meta property="twitter:title" content="@Html.Raw((string)ViewData["Title"])">
    <meta property="twitter:description" content="@Html.Raw((string)ViewData["Description"])">
    <meta property="twitter:image" content="@((string)ViewData["Image"])">
}

<div class="container my-5">
    @Html.Raw(Model.Html)

    @if (User.IsInRole(Roles.PageEdit) || User.IsInRole(Roles.PageDelete))
    {
        <hr />

        <div class="text-start">
            @if (User.IsInRole(Roles.PageEdit))
            {
                <a asp-action="Edit" asp-controller="Pages" asp-route-path="@Model.Path" class="btn rounded-oval btn-outline-success border" data-bs-dismiss="modal">اصلاح برگه</a>
            }
            @if (User.IsInRole(Roles.PageDelete))
            {
                <button class="btn rounded-oval btn-outline-danger border" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal-delete-page">حذف برگه</button>
            }
            @if (User.IsInRole(Roles.PageEdit))
            {
                <a asp-action="Index" asp-controller="Pages" class="btn rounded-oval btn-light border" data-bs-dismiss="modal">فهرست برگه ها</a>
            }
        </div>
    }
</div>

@if (User.IsInRole(Roles.PageDelete))
{
    <div class="modal fade" id="modal-delete-page" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="Delete" asp-controller="Pages" asp-route-path="@Model.Path">
                    <div class="modal-header">
                        <h5 class="modal-title">حذف برگه</h5>
                        <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger">
                            در حذف نهایی برگه
                            <span class="badge bg-danger">@Model.Title</span>
                            مطمئن عمل کنید. پس از حذف امکان بازگردانی وجود ندارد.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn rounded-oval btn-light border" data-bs-dismiss="modal">فهرست  برگه‌ها</button>
                        <button type="submit" class="btn rounded-oval btn-outline-danger">حذف نهایی</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}