@using System
@using static Rezaee.Alireza.Web.Extensions.IntExtensions
@model Rezaee.Alireza.Web.Models.ViewModels.Posts.DetailMarkdownPostViewModel
@{
    ViewData["Title"] = "بازنشر رسانه";

    var Avatar = new
    {
        x150 = "/uploads/profile/avatar-150x.jpg",
        x125 = "/uploads/profile/avatar-125x.jpg",
        x100 = "/uploads/profile/avatar-100x.jpg",
        x64 = "/uploads/profile/avatar-64x.jpg"
    };
    var fullName = "علیرضا رضائی";

    var postDate = Model.Markdown.Post.LatestUpdateDateTime == null ? Model.Markdown.Post.PublishDateTime : Model.Markdown.Post.LatestUpdateDateTime;
    var persianPostDate = postDate.Value.ToPersianDateTime();
}
<div class="container">
    <a href="@Model.PostDetailUrl" class="d-block text-center text-dark font-weight-bold text-decoration-none mb-3 rounded" style="line-height: 3; color: #006293; font-size: 1.5rem; background-color: #eee;">
        @Model.Markdown.Post.Title
    </a>

    <div class="text-center text-muted small mb-3 pb-2" style="border-bottom: 1px solid #eee;">
        <span class="mx-2">
            <img src="@Avatar.x64" alt="@fullName" class="rounded-circle" style="width: 25px;" />
        </span>
        •
        <time class="mx-2" datetime="@postDate">
            @persianPostDate.Day.EnglishToPersian()
            @persianPostDate.MonthName
            @persianPostDate.Year.EnglishToPersian()
        </time>
        •
        <span class="mx-2">
            زمان مطالعه: ۳ دقیقه
        </span>
        •

        <div class="dropdown d-inline-block">
            <button type="button" class="btn btn-sm btn-light text-secondary align-middle" data-bs-toggle="dropdown">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                </svg>
            </button>
            <div class="dropdown-menu text-end shadow" style="direction: rtl;">
                <a href="@Model.PostEditProperties" class="dropdown-item">ویرایش مشخصات مطلب</a>
                <a href="@Model.Markdown.ContributeUrl" class="dropdown-item">ویرایش محتوا</a>
                <a href="@Model.PostEditTypeUrl" class="dropdown-item">تغییر نوع ارسالی</a>
                <button data-bs-toggle="modal" data-bs-target="#modal-delete-post" class="dropdown-item">حذف مطلب</button>
            </div>
        </div>
    </div>

    <div class="text-start dir-ltr">
        <div class="d-flex border rounded-oval mb-4 overflow-hidden text-nowrap small" style="height:30px; width: 210px;">
            <div class="d-block h-100 px-2 align-middle border-end" style="line-height: 1.5; font-size: 18px; width: 40px">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                    <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                </svg>
            </div>
            <div class="d-block align-middle text-muted text-center w-100" style="line-height: 2.2">
                https://go.rezaee.org/abcde
            </div>
        </div>
    </div>

    <div>
        @Html.Raw(Model.HtmlContent)
    </div>
</div>

<!-- Modals -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modal-delete-post">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="alert alert-danger alert-dismissible fade show" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
                <strong class="font-weight-bold">هشدار:</strong>
                <span class="modal-post-type"></span>
                این مطلب برای همیشه حذف خواهد شد. آیا از این کار اطمینان دارید؟
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="mb-3">
                <div class="container">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-12 post">
                            <div class="row">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">محل دسته بندی</strong>
                                    <h3 class="mb-0">@Model.Markdown.Post.Title</h3>
                                    <div class="mb-1 text-muted">@Model.Markdown.Post.PublishDateTime</div>
                                    <p class="card-text mb-auto">@Model.Markdown.Post.Summary</p>
                                </div>
                                <div class="col-auto post-image" style="background-image: url('@Model.Markdown.Post.ThumbnailUrl')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 my-1 my-md-0">
                            <button class="btn btn-warning w-100" data-bs-dismiss="modal">
                                انصراف
                            </button>
                        </div>
                        <div class="col-12 col-md-6 my-1 my-md-0">
                            <form action="@Model.PostDeleteUrl" method="post">
                                <button type="submit" class="btn btn-danger w-100">
                                    حذف نهایی
                                </button>
                                @Html.AntiForgeryToken()
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>