@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column nav-pills-light pr-0 mb-5">
    <li class="nav-item"><a class="nav-link font-weight-light @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">نمایه</a></li>
    <li class="nav-item"><a class="nav-link font-weight-light @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">رایانامه</a></li>
    <li class="nav-item"><a class="nav-link font-weight-light @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">گذرواژه</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link font-weight-light @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">ورود خارجی</a></li>
    }
    <li class="nav-item"><a class="nav-link font-weight-light @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">احراز هویت دو مرحله ای</a></li>
    <li class="nav-item"><a class="nav-link font-weight-light @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">مشخصات شخصی</a></li>
</ul>